---
import { Image } from "@astrojs/image/components";
export interface Props {
  data: {
    name: string;
    title: string;
    img: string;
  };
  className?: string;
}
const { data, className } = Astro.props;
---

<div class={(className ? className : "") + " w-full max-w-[350px]"}>
  <div class="w-full h-[350px] relative z-10 flex rounded pb-10">
    <Image
      class="rounded absolute h-full w-full"
      src={data.img}
      alt={data.name}
    />
    <p
      class="text-center static z-10 text-lg text-white font-bold flex-grow self-end"
    >
      {data.name}
    </p>
  </div>
  <p class="mt-4 tracking-wide uppercase">{data.title}</p>
</div>
