---
import { Image } from "@astrojs/image/components";
export interface Props {
  data: {
    name: string;
    title: string;
    img: string;
  };
  className?: string;
}
const { data, className } = Astro.props;
---

<div class={(className ? className : "") + " w-full max-w-[350px]"}>
  <div class="w-full relative z-10 flex rounded py-10 bg-green-600">
    <p
      class="text-center static z-10 text-lg text-white font-bold flex-grow self-end"
    >
      {data.name}
    </p>
  </div>
  <p class="mt-4 tracking-wide uppercase">{data.title}</p>
</div>
