---
import successStories from "@data/success-stories/successStories";
import SuccessCard from "@components/cards/SuccessCard.astro";

const stories = successStories.filter((story) => story.featured);
---

<section class="max-w-7xl mx-auto my-20 px-[5%] xl:px-0 text-textColor">
  <h2 class="font-bold text-3xl text-center lg:text-left">
    Featured Success Stories
  </h2>

  <div
    class="md:inline-flex flex justify-center gap-4 flex-col items-center md:flex-row mt-4 flex-wrap"
  >
    {stories.map((story) => <SuccessCard data={story} />)}
  </div>
</section>
