---
import { Img } from "astro-imagetools/components";
---

<section class="h-[500px] text-center text-white pt-20">
  <h1 class="font-bold text-4xl max-w-xl mx-auto font-main">
    Helping Local Students Help Themselves... And Others
  </h1>
  <p class="text-2xl max-w-xl mx-auto mt-6 tracking-wide font-main">
    Supporting the community and its students for 50+ years
  </p>
</section>

<style>
  section {
    background-image: linear-gradient(
        to bottom,
        rgba(49, 49, 49, 0.7),
        rgba(49, 49, 49, 0.5),
        rgba(49, 49, 49, 0)
      ),
      url("/src/imgs/home/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
