---
import donateIcon from "../../imgs/home/donations.svg";
import scholarIcon from "../../imgs/home/scholarship.svg";
const impacts = [
  {
    img: donateIcon,
    stat: "$530,000",
    text: "Money raised and given back to the community",
  },
  {
    img: scholarIcon,
    stat: "92",
    text: "Scholarships awarded to local students",
  },
];
---

<section
  class="max-w-7xl my-20 mx-auto flex justify-between px-[5%] xl:px-0 flex-col md:flex-row"
>
  <div class="text-center md:text-left mx-auto md:mx-0 md:max-w-sm">
    <h2 class="font-bold text-3xl">Our Impact</h2>
    <p class="mt-4">
      Our impact stretches across all areas. We keep giving back to the
      community. More text goes here
    </p>
    <a
      href="/donate"
      class="bg-primary font-bold rounded px-4 py-2 inline-block text-white mt-4"
      >Donate</a
    >
  </div>
  <div
    class="flex flex-col space-y-4 lg:space-x-10 lg:space-y-0 lg:flex-row mt-5 md:mt-0"
  >
    {
      impacts.map((impact) => (
        <div class="mx-auto max-w-[280px]">
          <img src={impact.img} />
          <p class="text-primary mt-5 text-xl font-bold">{impact.stat}</p>
          <p class="mt-2">{impact.text}</p>
        </div>
      ))
    }
  </div>
</section>
