---
// import styles MUST DO ON EVERY PAGE
import "../styles.css";

// Import Layout
import Layout from "../layouts/Layout.astro";

// Import Sections
import Hero from "../components/sections/about/Hero.astro";
import Directors from "../components/sections/about/Directors.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>About Us | Roxbury Scholarship Foundation</title>
  </head>
  <Layout>
    <main>
      <Hero />
      <Directors />

      <section class="bg-primary my-20">
        <div
          class="max-w-3xl mx-auto py-5 text-center px-[5%] lg:px-0 text-white"
        >
          <h2 class="font-bold text-4xl">Scholarship Awards Committee</h2>
          <p class="mt-4 leading-relaxed">
            Serving independently from the Directors is the Scholarship Awards
            Committee (SAC) which consists of five townspeople who serve for up
            to three years. This committee is informed by the Board of Directors
            of the total amount of scholarships to be awarded. The SAC receives
            and evaluates the detailed written applications and academic
            records, interviews each applicant, and recommends to the Board of
            Directors the candidates’ names and the amounts of the individual
            scholarships.
          </p>
        </div>
      </section>
    </main>
  </Layout>
</html>
