---
// import styles MUST DO ON EVERY PAGE
import "../styles.css";

// Import Layout
import Layout from "../layouts/Layout.astro";

// Import Sections
import Hero from "../components/sections/Hero.astro";
import Impact from "../components/sections/Impact.astro";
import FeaturedStories from "../components/sections/FeaturedStories.astro";
import Donate from "../components/sections/Donate.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Roxbury Scholarship Foundation</title>
  </head>
  <Layout>
    <main>
      <Hero />
      <Impact />
      <FeaturedStories />
      <Donate />
    </main>
  </Layout>
</html>
