---
import { Image } from "@astrojs/image/components";
import aboutHero from "@imgs/about/about-hero.jpg";
---

<section class="relative mt-20 text-textColor">
  <div class="w-full h-[500px] bg-secondary absolute top-0 left-0">
    <Image
      src={aboutHero}
      alt="award ceremony"
      class="w-full h-full object-cover object-top pl-16"
    />
  </div>

  <div class="max-w-7xl relative z-10 mx-auto px-[5%] xl:px-0">
    <h1 class="text-primary font-bold text-6xl -translate-y-1/2">About</h1>

    <div
      class="mt-[350px] flex-col lg:flex-row flex justify-between lg:space-x-16"
    >
      <div class="bg-primary text-white max-w-[600px] p-16">
        <h6 class="text-xl font-bold">Purpose</h6>
        <p class="leading-relaxed mt-2">
          The Roxbury Scholarship Foundation (RSF) is a tax-exempt organization
          that serves the citizens of Roxbury by providing financial assistance
          to selected post-high school scholars in pursuit of their educational
          goals.
        </p>
      </div>

      <div class="mt-4 lg:mt-[125px] sdsdaffg">
        <p class="leading-loose">
          The Foundation’s charter specifies that scholarships be awarded on the
          basis of financial need, academic achievement, and character, with
          need being given first consideration. Financial information for
          establishing need is reviewed by an accountant who does not live or
          work in Roxbury and is not seen by RSF board members
        </p>
      </div>
    </div>
  </div>
</section>
