<footer class="bg-primary text-white text-center py-5 px-[2.5%]">
  <p class="text-sm">
    All Content © 2023 Roxbury Scholarship Foundation | P.O. Box 106 | Roxbury,
    Connecticut 06783
  </p>
  <p class="text-xs mt-2">
    Powered by <a href="https://simply-sprout.com" target="_blank"
      >Simply Sprout</a
    >
  </p>
</footer>
